@font-face {
    font-family: 'epoca';
    src: url(epocapro-light.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');


*{
     padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body /*corpo do site*/
{
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
    background: linear-gradient(100deg, #0a7f70, #024c43);
}
header
{
    background-color: #11472a;
    padding-bottom: 20px;
}

h1 /*título do site*/
{
    color: rgb(116, 216, 202);
    font-size: 10rem;
    text-align: center;
    margin-top: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}
h1 img /*símbolo IF ao lado do título*/
{
    height: 1em;
    width: auto;
}
h6 /*Subtítulo*/
{
    text-align: center;
    font-size: 2rem;
    font-family: 'epoca';
    color: white;
    height: auto;
    font-weight: 100;
}
.Formbox /*Caixa de formulário*/
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #04453c;
    width: 400px;
    margin: 0 50px ;
    height: 400px;
    position: relative;
    top: -20px;
    right: -15px
    height: 400px;
    gap: 30px;
    border-radius: 20px;
}
.Formbox h2
{
color: rgb(72, 195, 170);
  font-family: "Cabin", sans-serif;
}
.Formbox input /*Preenchimento do formulário*/
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    height: 100%;
    height: 35px;
    width: 100%;
    width: 200px;
}
.Formbox button /*botão para criar conta*/
{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    height: 50px;
    width: 100%;    
    max-width: 200px;
    background-color: #037113;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;

    

}
.Shadowbox /*sombra da formbox*/
{
    background-color: #022c26;
    width: 430px;
    margin: 50px auto 0;
    height: 420px;
    gap: 30px;
    border-radius: 20px; 
    position: relative;
    right: 50px
    
}
@media (max-width: 600px)


   

   

             


