::after,
::before{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  width: 100%;
  max-width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(1000deg,
#0a7f70, #024c43);
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
body, textarea{
  font-family: sans-serif;
}
.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 50, 0;

}
.shadowbox{
background-color: rgba(0, 0, 0, 0.571);
width: 45%;
height: 30%;
max-width: 450px;
max-height: 230px;
padding: 20px;
border-radius: 20px;



}
.formbox{
  display: flex;
  flex-direction: column;
   justify-content: center;
  align-items: center;
  background-color: #04453c;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  max-width: 400px;
  max-height: 200px;
  padding: 30px;
  gap: 30px;
  
  
}
.input{
margin-top: 10px;
margin-bottom: 10px;
}
.formbox button {
  color: white;
  background-color: green;
  display: block;
  padding: 10px, 20px;
  width: 60%;
  max-width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
 
  
  
 
}
.header h1{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

}
.header h6{
  margin-top: 0;
  color: white;
}
.LogoIF{
height: 1em;
width: auto;
vertical-align: middle;


}
